.DS_Store/
*.userprefs
*.pidb
*.sdf
*.opensdf
*.pdb
*.idb
*.obj
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.xcbkptlist
*.xcsettings
*.xcuserstate
._*
*.user
*.suo
*.ilk
*.dat
NNP1.xccheckout
NNP1/OSX/NNP1/NNP1.xcodeproj/xcuserdata/semi.essessi.xcuserdatad
